.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
    visibility: visible;
}
.device {
    position: relative;
    top: -60px;
    left: 20%;
    min-height: 676px;
    width: 359px;
    background: url('../images/iphone-skeleton.png') no-repeat center center;
}

.device-content {
   position: relative;
    top: 115px;
    left: 56px;
    width: 247px;
    height: 445px;
    background: rgba(0, 0, 0, 0.3);
}

.showcase-slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.device-content img {
    width: 247px;
    height: 445px;
}

.showcase-slider .flickity-page-dots {
    bottom: 20px;
}


